captcha2.png
logs.txt
captcha_html/
chars/
labled_chars/
seen_imgs/
test_chars/
captcha_images/
test/
logs.txt
__pycache__/
txtFiles/
b.wav
m.mp3
logs_archive.txt
personal_info.json
personal_info_2.json
__pycache__
wrong_imgs
b.wav
test.png
visa.rar
wrong_chars/
t.py
test.py
manual/
visa.zip